<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         stopOnDefect="true"
         stopOnError="true"
         stopOnFailure="true"
         stopOnWarning="true"
         stopOnRisky="true"
         stopOnDeprecation="true"
         stopOnNotice="true"
         stopOnSkipped="false"
         displayDetailsOnSkippedTests="true"
         displayDetailsOnIncompleteTests="true"
         testdox="true"
>
    <testsuites>
        <testsuite name="Unit">
            <!-- <directory>tests/Unit</directory> -->
            <directory>vendor/gammamatrix/playground/tests/Unit</directory>
            <!-- <directory>vendor/gammamatrix/playground-auth/tests/Unit</directory> -->
            <!-- <directory>vendor/gammamatrix/playground-matrix/tests/Unit</directory> -->
        </testsuite>
        <!-- <testsuite name="Feature"> -->
            <!-- <directory>tests/Feature</directory> -->
            <!-- <directory>vendor/gammamatrix/playground/tests/Feature</directory> -->
            <!-- <directory>vendor/gammamatrix/playground-auth/tests/Feature</directory> -->
            <!-- <directory>vendor/gammamatrix/playground-matrix/tests/Feature</directory> -->
        <!-- </testsuite> -->
    </testsuites>
  <coverage
    includeUncoveredFiles="true"
    pathCoverage="false"
    ignoreDeprecatedCodeUnits="true"
    disableCodeCoverageIgnore="true">
    <report>
      <clover outputFile="tests/logs/clover.xml"/>
      <cobertura outputFile="tests/logs/cobertura.xml"/>
      <crap4j outputFile="tests/logs/crap4j.xml" threshold="50"/>
      <html outputDirectory="tests/logs/html" lowUpperBound="50" highLowerBound="90"/>
      <php outputFile="tests/logs/coverage.php"/>
      <text outputFile="tests/logs/coverage.txt" showUncoveredFiles="false" showOnlySummary="true"/>
      <xml outputDirectory="tests/logs/xml"/>
    </report>
  </coverage>
  <logging>
    <junit outputFile="tests/logs/junit.xml"/>
    <teamcity outputFile="tests/logs/teamcity.txt"/>
    <testdoxHtml outputFile="tests/logs/testdox.html"/>
    <testdoxText outputFile="tests/logs/testdox.txt"/>
  </logging>
    <source>
        <include>
            <!-- <directory>app</directory> -->
            <directory suffix=".php">vendor/gammamatrix/playground/src</directory>
            <!-- <directory suffix=".php">vendor/gammamatrix/playground-auth/src</directory> -->
            <!-- <directory suffix=".php">vendor/gammamatrix/playground-matrix/src</directory> -->
        </include>
    </source>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="BCRYPT_ROUNDS" value="4"/>
        <env name="CACHE_DRIVER" value="array"/>
        <!-- <env name="DB_CONNECTION" value="sqlite"/> -->
        <!-- <env name="DB_DATABASE" value=":memory:"/> -->
        <env name="MAIL_MAILER" value="array"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="TELESCOPE_ENABLED" value="false"/>
    </php>
</phpunit>
